# Ignore files with the .data extension to prevent accidental push of large or sensitive datasets
*.data

# Common Python ignores
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Data folders
data/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
